
<header>
<h1>Jason Towne | Full Stack Developer</h1>
<nav>
<ul>
  <li><a href="index.html">Home</a></li> 

  <li>
  <a href="#">About ▾</a>
  <ul class="dropdown">
  <li><a href="introduction.html">Introduction</a></li> 
  <li><a href="resume.html">Resume</a></li> 
  </ul>
  </li>
<!---
  <li>
  <a href="#">Projects ▾</a>
  <ul class="dropdown">    
  <li><a href="https://jtowne.great-site.net/carapp/">Carapp 1</a></li>
  <li><a href="https://jtowne.great-site.net/carapp2/">Carapp 2</a></li>
  </ul>
  </li>
--->
  <li>
    <a href="#">External Sites ▾</a>
    <ul class="dropdown">
    <li><a href="https://github.com/jtowne01" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/jason-towne-69471a251/" target="_blank">LinkedIn</a></li>
    <li><a href="https://cpcc.joinhandshake.com/profiles/msewus" target="_blank">Handshake</a></li>
    </ul>
  </li>
</ul>
</nav>
</header>