body {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  color: #333;
  background-color: #f1f1f1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer, header {
  background-color: #00171F;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  font-size: 22px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li ul.dropdown {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #99E2FF; 
    border: 2px solid black;
    padding: 5px;
}

ul li:hover ul.dropdown {
    display: block;
}

nav ul.dropdown li a {
    padding: 5px 10px;
    display: block;
}

ul.dropdown li a:hover {
    background-color: aquamarine;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a, footer a {
  color: #00A8E8;
  text-decoration: none;
  font-weight: bold;
}

main a {
    text-decoration: underline;
    color: #00A8E8;
}

nav a:hover, .navbar a:hover {
  color: #95A3B3;
}

main li {
  margin-bottom: 1em;
}

main {
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  background-color: #99E2FF; 
  font-size: 28px;
  line-height: 1;
  color: #222222;
  min-height: 640px;
}

h1 {
  color: #47D1FF;
} 

h2, h3, h4, h5, h6 {
  color: #222222;
}

figure img {
    max-height: 15%;
    max-width: 15%;
    display: block;
    padding-bottom: 30px;
}

figcaption {
    font-size: 22px;
    color: #555;
    text-align: left;
    margin-top: -10px;
}

.container {
    max-width: 900px;
    margin: auto;
}

